.outBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5670f5;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow: 0 10px 0 #2946bf;
}
.circle {
  width: 200px;
  height: 200px;
  background-color: #e6e6e6;
  border-radius: 50%;
  box-shadow: inset 0 10px 0 #bac0d2;
}
